ANDROID_GOOGLE_MAPS_API_KEY=AIzaSyBtbOMoQEO1UJ5znmIU1LOyisRuthzyFME
IOS_GOOGLE_MAPS_API_KEY=AIzaSyCWGDg5RCvQk4BGKS6LkJ1EhB_HmssJ51U
EXHIBITION_BASE_URL=http:/$()/43.201.228.22:8030
FILTER_BASE_URL=http:/$()/43.201.228.22:8040
USER_BASE_URL=http://43.201.228.22:8020
KAKAO_APP_KEY=3a02c17d51ff3e53f5c15b4770306f66
NAVER_APP_KEY=
GOOGLE_APP_KEY=